:root {
  --primary-color: #fcf5e9;
  --dark-color: #333;

  --container-normal: 1100px;
  --container-wide: 1400px;
  --container-narrow: 900px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Utility */

.bg-primary {
  background: var(--primary-color);
  color: var(--dark-color);
}
.bg-dark {
  background: var(--dark-color);
  color: #fff;
}
.bg-dark .bg-primary {
  padding: 0 0.3rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border: 1px solid var(--dark-color);
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  &:hover {
    background: var(--dark-color);
    color: #fff;
  }
}

.section-heading {
  margin-bottom: 40px;
  font-size: 1.6rem;
  text-align: center;
}

.container {
  max-width: var(--container-normal);
  margin: 0 auto;
  padding: 0 1.5rem;
}
.container-lg {
  max-width: var(--container-wide);
}
.container-sm {
  max-width: var(--container-narrow);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Header */
.header {
  margin: 1.5rem auto;
}
.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 130px;
}

.main-menu {
  display: flex;
  gap: 1rem;
  a {
    padding: 0.5rem 1rem;
    &:hover {
      background: var(--primary-color);
    }
  }
}

.current {
  background: var(--primary-color);
  font-weight: 600;
}

/* Hero */
.hero {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  h2 {
    font-size: 3rem;
    line-height: 1.4;
    font-weight: normal;
  }
}

/* Gallery */
.gallery-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.gallery-item {
  width: calc(33.33% - 20px);
  border-radius: 10px;
  img {
    border-radius: 10px;
  }
  &:hover {
    opacity: 0.9;
  }
}

/* Footer */
.footer {
  border-top: 1px solid #aaa;
  padding: 2rem 1.5rem;
  margin-top: 2rem;
  img {
    width: 120px;
  }
  h4 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  a {
    margin: 0.2rem;
  }
}
.footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Services */
.services {
  padding: 3rem 0 4rem;
}
.services-flex {
  display: flex;
  gap: 2rem;
}
.service-item {
  h4 {
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
  }
}

/* Team */
.team {
  padding: 3rem 0 4rem;
  img {
    border-radius: 10px;
  }
}
.team-flex {
  display: flex;
  gap: 1.4rem;
}

/* Contact */
.contact {
  padding: 3rem 0 4rem;
  p {
    text-align: center;
    margin-bottom: 2rem;
  }
  input,
  textarea {
    border: none;
    border-bottom: 1px solid var(--dark-color);
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    padding-bottom: 1rem;
    &:focus {
      outline: 10px;
    }
  }
  textarea {
    height: 200px;
  }
  button {
    width: 100%;
  }
}

.form-group {
  margin: 2rem 0;
}
/* Mobile */
@media (width <= 768px) {
  .header-flex,
  .footer-flex,
  .services-flex,
  .team-flex {
    flex-direction: column;
    gap: 1.5rem;
  }

  .hero {
    height: 300px;
    h2 {
      font-size: 1.8rem;
    }
  }

  .gallery-item {
    width: calc(50% - 20px);
  }

  .footer-flex {
    text-align: center;
  }
}
